dist/
data/databases/
data/icons_cache
data/icons/*.png
data/config.json
data/machine_id.txt
__pycache__
pruebas.py 
*.bat
*.txt
build/
data/icons/*.png
data/icons_cache
data/databases/
data/cloud_files/machine_id.txt
__pycache__
upload_err.log
PENDINGS.md  
*.bat
*.spec
*.json
*.log
